.Bar {
	--health: var(--c-sap-green);
	--health-bg: pink;
	--mana: var(--c-blue-celeste);
	--mana-bg: lightblue;
	--cast: var(--c-linden-green);
	--radius: 4px;

	display: flex;
	position: relative;
	background: hsla(0, 0%, 30%, 0.2);
	border-radius: var(--radius);
	border: 1px solid hsla(0, 0%, 80%, 0.1);
	/* opacity: 0; */
}

.Bar div {
	min-height: 1.5em;
	border-radius: var(--radius);
	background: var(--bg);
	border-top: 1px solid hsla(0 0% 90% / 0 4);
	border-right: 1px solid hsla(0 0% 10% / 0.6);
	/* transition: width 600ms; */
}

div.Bar-potentialValue {
	position: absolute;
	top: 0;
	background: var(--c-chrome-green-1);
	opacity: 0.6;
}

.Bar span {
	user-select: none;
	font-size: 13px;
	position: absolute;
	right: 0.4rem;
	top: 0.28em;
	text-align: right;
	/* font-weight: 600; */
	/* avoid jumps because no monospace */
	min-width: 8em;
	/* color: var(--white); */
	/* text-shadow: */
	/* 	0 0 2px black, */
	/* 	0 0 2px black, */
	/* 	0 0 3px black, */
	/* 	0 0 3px black, */
	/* 	0 0 1px black, */
	/* 	0 0 1px black; */
}

.Bar span[hidden] {
	visibility: hidden;
	height: 0;
}

[data-type='health'] {
	--bg: var(--health);
}

[data-type='mana'] {
	--bg: var(--mana);
}

[data-type='cd'] {
	--bg: rgb(from var(--cast) r g b / 0.8);
}

[data-type='cast'] {
	--bg: var(--cast);
	/* because of the label */
	margin-bottom: 0.7rem;
}

.Bar[data-type='cast'] div {
	min-height: 0.5rem;
}

[hidden] {
	display: none;
}
