.Character {
	position: relative;
	padding: 0.2rem;
	border: 1px solid;
	border-radius: var(--radius);
	cursor: pointer;
	transition: background 100ms;
	background: var(--c-snow-white);
	max-width: 100%;
	width: 20rem;
}

.Character:not(.Character--targeted):hover {
	background: color-mix(in oklch, var(--c-snow-white), var(--c-linden-green));
}

/* Styles for the selected target */
.Character--targeted {
	background: var(--c-linden-green);
	&:hover {
	}
}

.Character.PartyMember {
}

.Character.Enemy {
	--health: var(--c-crimson-lake);
}

.Character-row {
	display: flex;
}

.Character-bars {
	flex: 1;
	min-width: 0;
}

.Character-avatar {
	position: relative;
	margin: 0;
	font-weight: bold;
	user-select: none;
}

.Character-avatar img {
	display: block;
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: var(--radius);
}

.Character-health {
	position: relative;
}

.Character-name {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 0.5rem;
	font-weight: bold;
	user-select: none;
	pointer-events: none;
	text-shadow: 0 0 2px black, 0 0 2px black;
	color: white;
}
