.Character {
	position: relative;
	padding: 0.2rem;
	border: 1px solid;
	border-radius: var(--radius);
	cursor: pointer;
	transition: background 100ms;
	background: var(--c-snow-white);
	max-width: 100%;
	width: 20rem;
}

.Character:not(.Character--targeted):hover {
	background: color-mix(in oklch, var(--c-snow-white), var(--c-linden-green));
}

/* Styles for the selected target */
.Character--targeted {
	background: var(--c-linden-green);
	&:hover {
	}
}

.Character.PartyMember {
}

.Character.Enemy {
	&:hover {
	}
	&.Character--targeted {
	}
}

.Character-avatar {
	position: relative;
	margin-right: 1rem;
	font-weight: bold;
	user-select: none;
}
