dev-console {
	display: flex;
	flex-direction: column;
	font-family: monospace;
}

.DevConsole-output {
	flex: 1;
	overflow-y: auto;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	max-height: 15rem;
	font-size: 13px;
	scrollbar-width: thin;
}

.DevConsole-output div {
	margin-bottom: 0.2rem;
	word-wrap: break-word;
	opacity: 0.9;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-left: 2px solid transparent;
}

.DevConsole-output div:first-child {
	margin-top: auto;
}

.DevConsole-output div:first-line {
	color: var(--green);
}

.DevConsole-inputWrapper {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0.2rem;
}

.DevConsole-inputWrapper span {
	margin-right: 5px;
	color: var(--green);
}

.DevConsole-input {
	flex-grow: 1;
	border: none;
}
