.Log {
	display: flex;
	list-style: none;
	color: black;
	font-size: 12px;
	gap: 1em;
	margin: 0.2rem;

	& li {
		min-width: 3em;
		display: flex;
		flex-flow: column;
	}
}

.Log em {
	display: block;
}

