@import url('styles/reset.css');
@import url('styles/spell.css');
@import url('styles/bar.css');
@import url('styles/log.css');
@import url('styles/layout.css');
@import url('styles/floating-combat-text.css');
@import url('styles/character.css');
@import url('styles/floating-view.css');
@import url('styles/combat-log.css');
@import url('styles/dev-console.css');
@import url('styles/color-palette.css');
@import url('styles/colors.css');

:root {
	--easing: cubic-bezier(0.165, 0.84, 0.4, 1);
	--radius: 0.2rem;
}

html {
	color-scheme: light;
	background: var(--c-french-grey);
	color: var(--c-black);
	font-size: 16px;
	font-family:
		Proza Libre,
		serif;
	line-height: 1.5;
}

/* Global input styles */
input[type='text'],
input[type='search'],
textarea,
select {
	border: 1px solid var(--c-black);
	border-radius: var(--radius);
	padding: 0.2rem;
	min-height: 1.5rem;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
}

.Title {
	color: var(--paleyellow);
	font-family: 'Rubik 80s Fade';
	font-size: clamp(3rem, 7vw, 100px);
	line-height: 1.2;
	font-weight: 400;
}

h2 {
	/* font-weight: 700; */
}

h3 {
	/* font-weight: 700; */
}

.Effects {
	display: flex;
	min-height: 4rem;
}

.Effects > * {
	min-height: 4rem;
	flex-basis: 4rem;
	display: flex;
	place-content: center;
	place-items: center;
	background: var(--yellow);
}

.spin {
	display: inline-block;
	transform-origin: center;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.Button {
	display: inline-flex;
	align-items: center;
	user-select: none;
	background: var(--c-snow-white);
	color: var(--c-black);
	border: 1px solid;
	min-height: 1.5rem;
	line-height: 1;
	padding: 0.1em 0.3em 0;
	border-radius: var(--radius);

	&[hidden] {
		display: none;
	}

	&:hover {
		background: color-mix(in oklch, var(--white), transparent 80%);
	}

	&:active {
		position: relative;
		top: 1px;
	}

	&.active {
		/* background: var(--white); */
		background: color-mix(in oklch, var(--c-opera), transparent 80%);
	}
}

a.Button {
	text-decoration: none;
}

.is-takingDamage {
	filter: drop-shadow(0 0.5rem 0.6rem rgba(217, 0, 0, 0.7));
}
